<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolve Issues</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    {% extends 'base.html' %}

    {% block title %}
    Add a New Issue
    {% endblock %}

    {% block content %}
    <div class="container">
        <h1>Resolve Issues</h1>
        <table class="table">
            <thead>
                <tr>
                    {% for header in headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for row in unresolved_issues %}
                <tr>
                    {% for value in row %}
                    <td>{{ value }}</td>
                    {% endfor %}
                    <td>
                        <form method="post" style="display:inline;">
                            <input type="hidden" name="ticket_id" value="{{ row[0] }}">
                            <div>
                                <label for="root_cause">Root Cause:</label>
                                <input type="text" name="root_cause" id="root_cause"
                                    value="{{ current_root_cause if current_root_cause else '' }}"
                                    placeholder="(Optional) New root cause">
                            </div>
                            <button type="submit" class="btn btn-danger">Resolve</button>
                        </form>
                        <script>
                            // Check if the root cause input should be required
                            document.addEventListener("DOMContentLoaded", function () {
                                const rootCauseInput = document.getElementById("root_cause");

                                // If current_root_cause is empty, set required to true
                                if (!rootCauseInput.value) {
                                    rootCauseInput.setAttribute("required", "required");
                                } else {
                                    rootCauseInput.removeAttribute("required");
                                }
                            });
                        </script>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
    </div>

    <!-- Return to Main Menu -->
    <div class="button-container">
        <a href="{{ url_for('menu') }}" class=" main-menu-button">Return to Main Menu</a>
    </div>
    {% endblock %}
</body>

</html>