<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Issue</title>
    <link rel="stylesheet" href="../resources/style.css">
    <script>
        function goToUpdate(ticketId) {
            window.location.href = "/update_issue?ticket_id=" + ticketId;
        }
    </script>
</head>

<body>
    <h1>Select an Issue to Update</h1>

    {% if issues %}
    <ul>
        {% for issue in issues %}
        <li onclick="goToUpdate('{{ issue[0] }}')">
            <div class="issue-header">
                {{ issue[1] }} - {{issue[0]}} [SEV{{issue[2]}}]<!-- Issue Title -->
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No issues found.</p>
    {% endif %}
</body>

</html>