<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    {% extends 'base.html' %}

    {% block title %}
    Sign Up
    {% endblock %}

    {% block content %}
    <h1>Sign Up</h1>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required><br><br>

        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>

    <!-- Return to Main Menu -->
    <div class="button-container">
        <a href="{{ url_for('menu') }}" class=" main-menu-button">Return to Main Menu</a>
    </div>
    {% endblock %}
</body>

</html>